@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  text-align: center;
  flex: 1;
  padding: 1rem;
  width: 100%;
}

.header {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
